In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

## Import data (bp_electricity_generation_by_fuel) and clean data

In [2]:
bp_electricity_gen_by_fuel = pd.read_csv('../data/Source of Data - BP/bp_electricity_generation_by_fuel.csv',skiprows=2)

In [3]:
pd.set_option('display.max_columns', None)

In [4]:
bp_electricity_gen_by_fuel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Terawatt-hours    51 non-null     object
 1   Oil               47 non-null     object
 2   Natural Gas       47 non-null     float64
 3   Coal              47 non-null     object
 4   Nuclear energy    47 non-null     object
 5   Hydro electric    47 non-null     object
 6   Renew- ables      47 non-null     float64
 7   Other#            47 non-null     object
 8   Total             47 non-null     float64
 9   Oil.1             47 non-null     object
 10  Natural Gas.1     47 non-null     float64
 11  Coal.1            47 non-null     object
 12  Nuclear energy.1  47 non-null     object
 13  Hydro electric.1  47 non-null     object
 14  Renew- ables.1    47 non-null     float64
 15  Other#.1          47 non-null     object
 16  Total.1           47 non-null     float64
 17  Unnamed: 17       0 non-null      float64
 18  Unnamed: 18       0 non-null      float64
dtypes: float64(8), object(11)
memory usage: 9.0+ KB

In [5]:
bp_electricity_gen_by_fuel.head(2)

,Terawatt-hours,Oil,Natural Gas,Coal,Nuclear energy,Hydro electric,Renew- ables,Other#,Total,Oil.1,Natural Gas.1,Coal.1,Nuclear energy.1,Hydro electric.1,Renew- ables.1,Other#.1,Total.1,Unnamed: 17,Unnamed: 18
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Canada,3.2,69.5,47.9,100.5,379.7,47.1,0.7,648.7,3.3,70.9,35.6,97.5,384.7,51.2,0.7,643.9,NaN,NaN

In [6]:
bp_electricity_gen_by_fuel.drop([0], axis=0, inplace = True)

In [7]:
bp_electricity_gen_by_fuel.head(2)

,Terawatt-hours,Oil,Natural Gas,Coal,Nuclear energy,Hydro electric,Renew- ables,Other#,Total,Oil.1,Natural Gas.1,Coal.1,Nuclear energy.1,Hydro electric.1,Renew- ables.1,Other#.1,Total.1,Unnamed: 17,Unnamed: 18
1,Canada,3.2,69.5,47.9,100.5,379.7,47.1,0.7,648.7,3.3,70.9,35.6,97.5,384.7,51.2,0.7,643.9,NaN,NaN
2,Mexico,34.8,187.7,32.7,11.4,23.6,32.3,-,322.6,33.7,183.1,18.9,11.4,26.8,39.2,-,313.2,NaN,NaN

In [8]:
bp_electricity_gen_by_fuel.columns

Index(['Terawatt-hours', 'Oil', 'Natural Gas', 'Coal', 'Nuclear energy',
       'Hydro electric', 'Renew- ables', 'Other#', 'Total', 'Oil.1',
       'Natural Gas.1', 'Coal.1', 'Nuclear energy.1', 'Hydro electric.1',
       'Renew- ables.1', 'Other#.1', 'Total.1', 'Unnamed: 17', 'Unnamed: 18'],
      dtype='object')

In [9]:
bp_electricity_gen_by_fuel.rename(columns = {'Oil':'2019 Oil', 'Natural Gas': '2019 Natural Gas', 'Coal': '2019 Coal',
                                            'Nuclear energy':'2019 Nuclear energy', 'Hydro electric': '2019 Hydro electric',
                                            'Renew- ables':'2019 Renewables', 'Other#':'2019 Other#',
                                            'Total':'2019 Total', 'Oil.1':'2020 Oil', 'Natural Gas.1':'2020 Natural Gas',
                                            'Coal.1':'2020 Coal', 'Nuclear energy.1':'2020 Nuclear energy','Hydro electric.1':
                                             '2020 Hydro electric', 'Renew-ables.1':'2020 Renewables', 'Other#.1':'2020 Other#',
                                             'Total.1':'2020 Total'}, inplace = True)

In [10]:
bp_electricity_gen_by_fuel.head(2)

,Terawatt-hours,2019 Oil,2019 Natural Gas,2019 Coal,2019 Nuclear energy,2019 Hydro electric,2019 Renewables,2019 Other#,2019 Total,2020 Oil,2020 Natural Gas,2020 Coal,2020 Nuclear energy,2020 Hydro electric,Renew- ables.1,2020 Other#,2020 Total,Unnamed: 17,Unnamed: 18
1,Canada,3.2,69.5,47.9,100.5,379.7,47.1,0.7,648.7,3.3,70.9,35.6,97.5,384.7,51.2,0.7,643.9,NaN,NaN
2,Mexico,34.8,187.7,32.7,11.4,23.6,32.3,-,322.6,33.7,183.1,18.9,11.4,26.8,39.2,-,313.2,NaN,NaN

In [11]:
bp_electricity_gen_by_fuel.drop(bp_electricity_gen_by_fuel.columns[[17,18]], axis=1, inplace=True)
bp_electricity_gen_by_fuel.head(2)

,Terawatt-hours,2019 Oil,2019 Natural Gas,2019 Coal,2019 Nuclear energy,2019 Hydro electric,2019 Renewables,2019 Other#,2019 Total,2020 Oil,2020 Natural Gas,2020 Coal,2020 Nuclear energy,2020 Hydro electric,Renew- ables.1,2020 Other#,2020 Total
1,Canada,3.2,69.5,47.9,100.5,379.7,47.1,0.7,648.7,3.3,70.9,35.6,97.5,384.7,51.2,0.7,643.9
2,Mexico,34.8,187.7,32.7,11.4,23.6,32.3,-,322.6,33.7,183.1,18.9,11.4,26.8,39.2,-,313.2

In [12]:
bp_electricity_gen_by_fuel.tail(10)

,Terawatt-hours,2019 Oil,2019 Natural Gas,2019 Coal,2019 Nuclear energy,2019 Hydro electric,2019 Renewables,2019 Other#,2019 Total,2020 Oil,2020 Natural Gas,2020 Coal,2020 Nuclear energy,2020 Hydro electric,Renew- ables.1,2020 Other#,2020 Total
50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,Total World,820.5,6323.8,9826.2,2796.6,4227.9,2789.2,216.7,27001.0,758.0,6268.1,9421.4,2700.1,4296.8,3147.0,231.8,26823.2
52,of which: OECD,172.3,3358.6,2450.2,1994.6,1444.2,1599.3,149.1,11168.4,150.4,3360.0,2067.8,1876.7,1479.7,1788.6,157.6,10880.8
53,Non-OECD,648.2,2965.2,7376.0,802.0,2783.7,1189.9,67.6,15832.5,607.6,2908.1,7353.6,823.4,2817.1,1358.4,74.3,15942.4
54,European Union,49.2,566.7,475.1,765.5,317.1,658.5,60.3,2892.5,42.7,552.9,373.4,687.9,342.0,710.4,61.2,2770.6
55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,Source: statistics are taken from national sta...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,*Based on gross output.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,# Includes sources not specified elsewhere e.g...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,^ Less than 0.05.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
bp_electricity_gen_by_fuel = bp_electricity_gen_by_fuel.drop(index=[50,55,56,57,58,59])
bp_electricity_gen_by_fuel.tail()

,Terawatt-hours,2019 Oil,2019 Natural Gas,2019 Coal,2019 Nuclear energy,2019 Hydro electric,2019 Renewables,2019 Other#,2019 Total,2020 Oil,2020 Natural Gas,2020 Coal,2020 Nuclear energy,2020 Hydro electric,Renew- ables.1,2020 Other#,2020 Total
49,Total Asia Pacific,145.1,1497.1,7397.4,646.9,1791.5,1149.2,114.3,12741.6,123.8,1456.9,7386.4,654.8,1847.2,1322.0,128.3,12919.3
51,Total World,820.5,6323.8,9826.2,2796.6,4227.9,2789.2,216.7,27001.0,758.0,6268.1,9421.4,2700.1,4296.8,3147.0,231.8,26823.2
52,of which: OECD,172.3,3358.6,2450.2,1994.6,1444.2,1599.3,149.1,11168.4,150.4,3360.0,2067.8,1876.7,1479.7,1788.6,157.6,10880.8
53,Non-OECD,648.2,2965.2,7376.0,802.0,2783.7,1189.9,67.6,15832.5,607.6,2908.1,7353.6,823.4,2817.1,1358.4,74.3,15942.4
54,European Union,49.2,566.7,475.1,765.5,317.1,658.5,60.3,2892.5,42.7,552.9,373.4,687.9,342.0,710.4,61.2,2770.6