In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
natural_gas_as_fuel = pd.read_csv('../../data/Source of Data - eia.gov/new_csvs/net_generation_for_natural_gas.csv',skiprows=1)

In [3]:
pd.set_option('display.max_columns', None)

In [4]:
natural_gas_as_fuel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 23 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   description  6 non-null      object
 1   units        5 non-null      object
 2   source key   6 non-null      object
 3   2001         5 non-null      float64
 4   2002         5 non-null      float64
 5   2003         5 non-null      float64
 6   2004         5 non-null      float64
 7   2005         5 non-null      float64
 8   2006         5 non-null      float64
 9   2007         5 non-null      float64
 10  2008         5 non-null      float64
 11  2009         5 non-null      float64
 12  2010         5 non-null      float64
 13  2011         5 non-null      float64
 14  2012         5 non-null      float64
 15  2013         5 non-null      float64
 16  2014         5 non-null      float64
 17  2015         5 non-null      float64
 18  2016         5 non-null      float64
 19  2017         5 non-null      float64
 20  2018         5 non-null      float64
 21  2019         5 non-null      float64
 22  2020         5 non-null      float64
dtypes: float64(20), object(3)
memory usage: 1.2+ KB

In [5]:
natural_gas_as_fuel.head(10)

,description,units,source key,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,United States : all sectors,thousand megawatthours,ELEC.GEN.NG-US-99.A,639129.0,691006.0,649908.0,710100.0,760960.0,816441.0,896590.0,882981.0,920979.0,987697.0,1013689.0,1225894.0,1124836.0,1126609.0,1333482.0,1378307.0,1296442.0,1469133.0,1585814.0,1624050.0
1,United States : electric power,NaN,ELEC.GEN.NG-US-98.A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,United States : electric utility,thousand megawatthours,ELEC.GEN.NG-US-1.A,264434.0,229639.0,186967.0,199662.0,238204.0,282088.0,313785.0,320190.0,349166.0,392616.0,414843.0,504958.0,501427.0,501414.0,617817.0,654780.0,623834.0,720206.0,785026.0,812674.0
3,United States : independent power producers,thousand megawatthours,ELEC.GEN.NG-US-94.A,290506.0,378044.0,380337.0,427510.0,445625.0,452329.0,500967.0,482182.0,491839.0,508774.0,511447.0,627833.0,527522.0,531758.0,619839.0,624600.0,572919.0,645616.0,692113.0,706885.0
4,United States : all commercial,thousand megawatthours,ELEC.GEN.NG-US-96.A,4434.0,4310.0,3899.0,3969.0,4249.0,4355.0,4257.0,4188.0,4225.0,4725.0,5487.0,6603.0,7154.0,7227.0,7471.0,7730.0,8042.0,8419.0,8610.0,8110.0
5,United States : all industrial,thousand megawatthours,ELEC.GEN.NG-US-97.A,79755.0,79013.0,78705.0,78959.0,72882.0,77669.0,77580.0,76421.0,75748.0,81583.0,81911.0,86500.0,88733.0,86209.0,88355.0,91197.0,91647.0,94892.0,100065.0,96381.0

In [7]:
natural_gas_as_fuel.drop(natural_gas_as_fuel.columns[2], axis=1, inplace=True)

In [8]:
natural_gas_as_fuel.head(2)

,description,units,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,United States : all sectors,thousand megawatthours,639129.0,691006.0,649908.0,710100.0,760960.0,816441.0,896590.0,882981.0,920979.0,987697.0,1013689.0,1225894.0,1124836.0,1126609.0,1333482.0,1378307.0,1296442.0,1469133.0,1585814.0,1624050.0
1,United States : electric power,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
natural_gas_as_fuel = natural_gas_as_fuel.drop(index=[1,2,3,4,5])

In [10]:
natural_gas_as_fuel

,description,units,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,United States : all sectors,thousand megawatthours,639129.0,691006.0,649908.0,710100.0,760960.0,816441.0,896590.0,882981.0,920979.0,987697.0,1013689.0,1225894.0,1124836.0,1126609.0,1333482.0,1378307.0,1296442.0,1469133.0,1585814.0,1624050.0

In [12]:
natural_gas_melted = pd.melt(natural_gas_as_fuel, id_vars=['description','units'], var_name='year', value_name='value')
natural_gas_melted

                    description                   units  year      value
0   United States : all sectors  thousand megawatthours  2001   639129.0
1   United States : all sectors  thousand megawatthours  2002   691006.0
2   United States : all sectors  thousand megawatthours  2003   649908.0
3   United States : all sectors  thousand megawatthours  2004   710100.0
4   United States : all sectors  thousand megawatthours  2005   760960.0
5   United States : all sectors  thousand megawatthours  2006   816441.0
6   United States : all sectors  thousand megawatthours  2007   896590.0
7   United States : all sectors  thousand megawatthours  2008   882981.0
8   United States : all sectors  thousand megawatthours  2009   920979.0
9   United States : all sectors  thousand megawatthours  2010   987697.0
10  United States : all sectors  thousand megawatthours  2011  1013689.0
11  United States : all sectors  thousand megawatthours  2012  1225894.0
12  United States : all sectors  thousand megawatthours  2013  1124836.0
13  United States : all sectors  thousand megawatthours  2014  1126609.0
14  United States : all sectors  thousand megawatthours  2015  1333482.0
15  United States : all sectors  thousand megawatthours  2016  1378307.0
16  United States : all sectors  thousand megawatthours  2017  1296442.0
17  United States : all sectors  thousand megawatthours  2018  1469133.0
18  United States : all sectors  thousand megawatthours  2019  1585814.0
19  United States : all sectors  thousand megawatthours  2020  1624050.0

In [13]:
natural_gas_melted.to_csv(r'../../data/Source of Data - eia.gov/from_python_csv/natural_gas_melted.csv', index = False)