In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

## Import data (bp_primary_energy_consump_by_fuel) and clean data

In [2]:
energy_consump_by_fuel = pd.read_csv('../../data/Source of Data - BP/bp_primary_energy_consump_by_fuel.csv',skiprows=2)

In [3]:
pd.set_option('display.max_columns', None)

In [4]:
energy_consump_by_fuel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Exajoules         87 non-null     object
 1   Oil               83 non-null     float64
 2   Natural Gas       83 non-null     object
 3   Coal              83 non-null     object
 4   Nuclear energy    83 non-null     object
 5   Hydro electric    83 non-null     object
 6   Renew- ables      83 non-null     object
 7   Total             83 non-null     float64
 8   Oil.1             83 non-null     float64
 9   Natural Gas.1     83 non-null     object
 10  Coal.1            83 non-null     object
 11  Nuclear energy.1  83 non-null     object
 12  Hydro electric.1  83 non-null     object
 13  Renew- ables.1    83 non-null     object
 14  Total.1           83 non-null     float64
 15  Unnamed: 15       0 non-null      float64
 16  Unnamed: 16       0 non-null      float64
dtypes: float64(6), object(11)
memory usage: 12.9+ KB

In [5]:
energy_consump_by_fuel.head(2)

,Exajoules,Oil,Natural Gas,Coal,Nuclear energy,Hydro electric,Renew- ables,Total,Oil.1,Natural Gas.1,Coal.1,Nuclear energy.1,Hydro electric.1,Renew- ables.1,Total.1,Unnamed: 15,Unnamed: 16
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Canada,4.78,4.24,0.63,0.90,3.38,0.51,14.45,4.26,4.05,0.50,0.87,3.42,0.54,13.63,NaN,NaN

In [6]:
energy_consump_by_fuel.drop([0], axis=0, inplace = True)
energy_consump_by_fuel.head(2)

,Exajoules,Oil,Natural Gas,Coal,Nuclear energy,Hydro electric,Renew- ables,Total,Oil.1,Natural Gas.1,Coal.1,Nuclear energy.1,Hydro electric.1,Renew- ables.1,Total.1,Unnamed: 15,Unnamed: 16
1,Canada,4.78,4.24,0.63,0.90,3.38,0.51,14.45,4.26,4.05,0.50,0.87,3.42,0.54,13.63,NaN,NaN
2,Mexico,3.24,3.17,0.54,0.10,0.21,0.30,7.55,2.46,3.11,0.21,0.10,0.24,0.36,6.48,NaN,NaN

In [7]:
energy_consump_by_fuel.columns

Index(['Exajoules', 'Oil', 'Natural Gas', 'Coal', 'Nuclear energy',
       'Hydro electric', 'Renew- ables', 'Total', 'Oil.1', 'Natural Gas.1',
       'Coal.1', 'Nuclear energy.1', 'Hydro electric.1', 'Renew- ables.1',
       'Total.1', 'Unnamed: 15', 'Unnamed: 16'],
      dtype='object')

In [8]:
energy_consump_by_fuel.rename(columns = {'Oil':'2019 Oil', 'Natural Gas': '2019 Natural Gas', 'Coal': '2019 Coal',
                                            'Nuclear energy':'2019 Nuclear energy', 'Hydro electric': '2019 Hydro electric',
                                            'Renew- ables':'2019 Renewables', 'Total':'2019 Total', 'Oil.1':'2020 Oil', 
                                            'Natural Gas.1':'2020 Natural Gas','Coal.1':'2020 Coal', 'Nuclear energy.1':'2020 Nuclear energy',
                                            'Hydro electric.1':'2020 Hydro electric', 'Renew-ables.1':'2020 Renewables',
                                             'Total.1':'2020 Total'}, inplace = True)

In [9]:
energy_consump_by_fuel.head(2)

,Exajoules,2019 Oil,2019 Natural Gas,2019 Coal,2019 Nuclear energy,2019 Hydro electric,2019 Renewables,2019 Total,2020 Oil,2020 Natural Gas,2020 Coal,2020 Nuclear energy,2020 Hydro electric,Renew- ables.1,2020 Total,Unnamed: 15,Unnamed: 16
1,Canada,4.78,4.24,0.63,0.90,3.38,0.51,14.45,4.26,4.05,0.50,0.87,3.42,0.54,13.63,NaN,NaN
2,Mexico,3.24,3.17,0.54,0.10,0.21,0.30,7.55,2.46,3.11,0.21,0.10,0.24,0.36,6.48,NaN,NaN

In [10]:
energy_consump_by_fuel.drop(energy_consump_by_fuel.columns[[15,16]], axis=1, inplace=True)
energy_consump_by_fuel.head(2)

,Exajoules,2019 Oil,2019 Natural Gas,2019 Coal,2019 Nuclear energy,2019 Hydro electric,2019 Renewables,2019 Total,2020 Oil,2020 Natural Gas,2020 Coal,2020 Nuclear energy,2020 Hydro electric,Renew- ables.1,2020 Total
1,Canada,4.78,4.24,0.63,0.90,3.38,0.51,14.45,4.26,4.05,0.50,0.87,3.42,0.54,13.63
2,Mexico,3.24,3.17,0.54,0.10,0.21,0.30,7.55,2.46,3.11,0.21,0.10,0.24,0.36,6.48

In [11]:
energy_consump_by_fuel.tail(15)

,Exajoules,2019 Oil,2019 Natural Gas,2019 Coal,2019 Nuclear energy,2019 Hydro electric,2019 Renewables,2019 Total,2020 Oil,2020 Natural Gas,2020 Coal,2020 Nuclear energy,2020 Hydro electric,Renew- ables.1,2020 Total
81,Taiwan,1.98,0.84,1.67,0.29,0.05,0.07,4.90,1.89,0.90,1.63,0.28,0.03,0.09,4.82
82,Thailand,2.62,1.83,0.71,-,0.06,0.28,5.51,2.39,1.69,0.73,-,0.04,0.28,5.12
83,Vietnam,1.10,0.35,2.07,-,0.60,0.04,4.17,0.98,0.31,2.10,-,0.61,0.08,4.09
84,Other Asia Pacific,0.96,0.41,1.23,-,0.61,0.01,3.23,0.94,0.42,1.23,-,0.64,0.02,3.25
85,Total Asia Pacific,70.67,30.89,122.37,5.77,15.97,10.87,256.54,66.68,31.02,120.97,5.82,16.41,12.36,253.25
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,Total World,191.89,140.54,157.64,24.93,37.69,28.82,581.51,173.73,137.62,151.42,23.98,38.16,31.71,556.63
88,of which: OECD,90.16,64.80,32.30,17.78,12.87,16.56,234.48,78.52,63.28,27.46,16.67,13.14,18.04,217.11
89,Non-OECD,101.73,75.74,125.34,7.15,24.81,12.26,347.04,95.21,74.34,123.96,7.31,25.02,13.67,339.52
90,European Union,23.17,14.08,7.32,6.82,2.83,6.51,60.74,20.03,13.68,5.91,6.11,3.04,6.97,55.74
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92,Source: statistics are taken from national sta...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93,"* In this review, primary energy comprises com...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,Energy from all sources of non-fossil power ge...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95,^ Less than 0.005.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
energy_consump_by_fuel=energy_consump_by_fuel.drop(index =[86,91,92,93,94,95])
energy_consump_by_fuel.tail(8)

,Exajoules,2019 Oil,2019 Natural Gas,2019 Coal,2019 Nuclear energy,2019 Hydro electric,2019 Renewables,2019 Total,2020 Oil,2020 Natural Gas,2020 Coal,2020 Nuclear energy,2020 Hydro electric,Renew- ables.1,2020 Total
82,Thailand,2.62,1.83,0.71,-,0.06,0.28,5.51,2.39,1.69,0.73,-,0.04,0.28,5.12
83,Vietnam,1.10,0.35,2.07,-,0.60,0.04,4.17,0.98,0.31,2.10,-,0.61,0.08,4.09
84,Other Asia Pacific,0.96,0.41,1.23,-,0.61,0.01,3.23,0.94,0.42,1.23,-,0.64,0.02,3.25
85,Total Asia Pacific,70.67,30.89,122.37,5.77,15.97,10.87,256.54,66.68,31.02,120.97,5.82,16.41,12.36,253.25
87,Total World,191.89,140.54,157.64,24.93,37.69,28.82,581.51,173.73,137.62,151.42,23.98,38.16,31.71,556.63
88,of which: OECD,90.16,64.80,32.30,17.78,12.87,16.56,234.48,78.52,63.28,27.46,16.67,13.14,18.04,217.11
89,Non-OECD,101.73,75.74,125.34,7.15,24.81,12.26,347.04,95.21,74.34,123.96,7.31,25.02,13.67,339.52
90,European Union,23.17,14.08,7.32,6.82,2.83,6.51,60.74,20.03,13.68,5.91,6.11,3.04,6.97,55.74