In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [10]:
net_gen_all_sources = pd.read_csv('../data/Source of Data - eia.gov/net_generation_all_sources.csv',skiprows=3)

In [11]:
pd.set_option('display.max_columns', None)

In [12]:
net_gen_all_sources.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 16 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Period                                               55 non-null     object
 1   Coal                                                 48 non-null     object
 2   Petroleum
Liquids                                    48 non-null     object
 3   Petroleum
Coke                                       48 non-null     object
 4   Natural
Gas                                          48 non-null     object
 5   Other
Gas                                            48 non-null     object
 6   Nuclear                                              48 non-null     object
 7   Hydroelectric
Conventional                           48 non-null     object
 8   Solar                                                48 non-null     object
 9   Renewable
Sources
Excluding
Hydroelectric and Solar  48 non-null     object
 10  Hydroelectric
Pumped
Storage                         48 non-null     object
 11  Other                                                48 non-null     object
 12  Total Generation at Utility Scale Facilities         48 non-null     object
 13  Estimated Solar Photovoltaic                         45 non-null     object
 14  Estimated Total Solar Photovoltaic                   45 non-null     object
 15  Estimated Total Solar                                45 non-null     object
dtypes: object(16)
memory usage: 7.0+ KB

In [13]:
net_gen_all_sources.head(2)

,Period,Coal,Petroleum\nLiquids,Petroleum\nCoke,Natural\nGas,Other\nGas,Nuclear,Hydroelectric\nConventional,Solar,Renewable\nSources\nExcluding\nHydroelectric and Solar,Hydroelectric\nPumped\nStorage,Other,Total Generation at Utility Scale Facilities,Estimated Solar Photovoltaic,Estimated Total Solar Photovoltaic,Estimated Total Solar
0,Annual Totals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2011,"1,733,430","16,086","14,096","1,013,689","11,566","790,204","319,355","1,818","192,163","-6,421","14,154","4,100,141",NaN,NaN,NaN

## Excel file source does not import cleanly
### 1. after skipping 3 rows, must add category to each column of data: 11 columns need "utility scale" prepended; 1 needs "small scale" prepended; 2 need "all sources" prepended
### 2. table has sections divided by year below annual totals and 12 months rolling totals; determine if any of this data is needed; 'does the data need to be granular to the month?'

In [15]:
print(net_gen_all_sources.columns)

Index(['Period', 'Coal', 'Petroleum\nLiquids', 'Petroleum\nCoke',
       'Natural\nGas', 'Other\nGas', 'Nuclear', 'Hydroelectric\nConventional',
       'Solar', 'Renewable\nSources\nExcluding\nHydroelectric and Solar',
       'Hydroelectric\nPumped\nStorage', 'Other',
       'Total Generation at Utility Scale Facilities',
       'Estimated Solar Photovoltaic', 'Estimated Total Solar Photovoltaic',
       'Estimated Total Solar'],
      dtype='object')

In [16]:
net_gen_all_sources.columns = ['Period', 'Utility Scale Coal', 'Utility Scale Petroleum\nLiquids', 'Utility Scale Petroleum\nCoke',
       'Utility Scale Natural\nGas', 'Utility Scale Other\nGas', 'Utility Scale Nuclear', 'Utility Scale Hydroelectric\nConventional',
       'Utility Scale Solar', 'Utility Scale Renewable\nSources\nExcluding\nHydroelectric and Solar',
       'Utility Scale Hydroelectric\nPumped\nStorage', 'Utility Scale Other',
       'Total Generation at Utility Scale Facilities',
       'Small Scale Estimated Solar Photovoltaic', 'Net Generation Estimated Total Solar Photovoltaic',
       'Net Generation Estimated Total Solar']

In [17]:
net_gen_all_sources.head(2)

,Period,Utility Scale Coal,Utility Scale Petroleum\nLiquids,Utility Scale Petroleum\nCoke,Utility Scale Natural\nGas,Utility Scale Other\nGas,Utility Scale Nuclear,Utility Scale Hydroelectric\nConventional,Utility Scale Solar,Utility Scale Renewable\nSources\nExcluding\nHydroelectric and Solar,Utility Scale Hydroelectric\nPumped\nStorage,Utility Scale Other,Total Generation at Utility Scale Facilities,Small Scale Estimated Solar Photovoltaic,Net Generation Estimated Total Solar Photovoltaic,Net Generation Estimated Total Solar
0,Annual Totals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2011,"1,733,430","16,086","14,096","1,013,689","11,566","790,204","319,355","1,818","192,163","-6,421","14,154","4,100,141",NaN,NaN,NaN

In [18]:
net_gen_all_sources.drop([0], axis = 0, inplace = True)

In [19]:
net_gen_all_sources.head(2)

,Period,Utility Scale Coal,Utility Scale Petroleum\nLiquids,Utility Scale Petroleum\nCoke,Utility Scale Natural\nGas,Utility Scale Other\nGas,Utility Scale Nuclear,Utility Scale Hydroelectric\nConventional,Utility Scale Solar,Utility Scale Renewable\nSources\nExcluding\nHydroelectric and Solar,Utility Scale Hydroelectric\nPumped\nStorage,Utility Scale Other,Total Generation at Utility Scale Facilities,Small Scale Estimated Solar Photovoltaic,Net Generation Estimated Total Solar Photovoltaic,Net Generation Estimated Total Solar
1,2011,"1,733,430","16,086","14,096","1,013,689","11,566","790,204","319,355","1,818","192,163","-6,421","14,154","4,100,141",NaN,NaN,NaN
2,2012,"1,514,043","13,403","9,787","1,225,894","11,898","769,331","276,240","4,327","214,006","-4,950","13,787","4,047,765",NaN,NaN,NaN

### 2. table has sections divided by year below annual totals and 12 months rolling totals; determine if any of this data is needed; 'does the data need to be granular to the month?
# unanswered - decision point